
 <!-- <ul>
    <%# loaClass.forEach(element => { %>
        <li><%#- element %></li>
    <%# }); %>
 </ul> -->

 <div>
    <!-- Main Roster Creation -->
    <div>
        <section>
                <div>
                    <form action="/dashboard/createCharacter" method="POST">
                        <label for="characterName">Character Name</label>
                        <input type="text" name="characterName" id="characterName" placeholder="Character Name">
                
                        <label for="loaClass">Class</label>
                        <select name="loaClass" id="loaClass">
                            <% loaClass.forEach(element => { %>
                                <option value="<%- element %>"><%- element %></option>
                            <% }); %>
                        </select>
                
                        <label for="itemLevel">Item Level</label>
                        <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">

                        <label for="roster">Roster</label>
                        <select name="roster" id="roster">
                            <option value="Main">Main</option>
                            <option value="Alt">Alt</option>
                        </select>
                
                        <button type="submit">Add</button>
                    </form>
                </div>

                <div>
                    <% characters.forEach(element => { %>
                        <div>
                            <h3><%= element.characterName %></h3>
                            <p><%= element.loaClass %></p>
                            <p><%= element.itemLevel %></p>
                        </div>
                    <% }) %>
                </div>
        </section>
    </div>

    <!-- Alt Roster Creation -->
</div>