<%- include("partials/header") -%>
 <!-- <ul>
    <%# loaClass.forEach(element => { %>
        <li><%#- element %></li>
    <%# }); %>
 </ul> -->

 <div class="main-container">
    <!-- Main Roster Creation -->
    <div>
                <div>
                    <form action="/dashboard/createCharacter" method="POST">
                        <label for="characterName">Character Name</label>
                        <input type="text" name="characterName" id="characterName" placeholder="Character Name">
                
                        <label for="loaClass">Class</label>
                        <select name="loaClass" id="loaClass">
                            <% loaClass.forEach(element => { %>
                                <option value="<%- element %>"><%- element %></option>
                            <% }); %>
                        </select>
                
                        <label for="itemLevel">Item Level</label>
                        <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">

                        <label for="roster">Roster</label>
                        <select name="roster" id="roster">
                            <option value="Main">Main</option>
                            <option value="Alt">Alt</option>
                        </select>
                
                        <button type="submit">Add</button>
                    </form>
                </div>

                <!-- roster information -->
                    <div class="dashboard">
                        <% for(let i = 0; i < characters.length; i++){ %>
                            <div class="container" id="char<%= i %>">
                                <div class="roster-info">
                                    <h3 class="ros"><%= characters[i].characterName %></h3>
                                    <p class="ros"><%= characters[i].loaClass %></p>
                                    <div class="row">
                                        <p><%= characters[i].itemLevel %></p>
                                        <button onclick="modalHandler('<%= characters[i]._id %>', true)">Edit</button>
                                    </div>

                                    <div id="modal-<%= characters[i]._id %>" class="modal">
                                        <div class="modal-container">
                                            <form class="modal-form" action="/dashboard/editItemLevel/<%= characters[i]._id %>?_method=PUT" method="POST">
                                    
                                                <label for="itemLevel">Item Level</label>
                                                <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">                     
                                        
                                                <button type="submit">Save</button>
                                            </form>

                                            <button onclick="modalHandler('<%= characters[i]._id %>')">Close</button>
                                        </div>
                                    </div>
                                    
                                    <form action="/dashboard/deleteCharacter/<%= characters[i]._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            

                                <div class="raidList">
                                     <!-- Valtan -->
                                    <div id="raid-select<%= i %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= valtan.normalValtan.itemLevel && valtan.hardValtan.itemLevel){ %>
                                            <div id="valtan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Valtan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info more-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valhmg1Chest" data-value="<%= valtan.hardValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.hardValtan.gate[0] %></h4>
                                                                
                                                                <div id="valhmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valhmg1Chest" name="valhmg1Chest">
                                                                    <label for="valhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valhmg2Chest" data-value="<%= valtan.hardValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.hardValtan.gate[1] %></h4>
                                                                
                                                                <div id="valhmg2Chest" class="bonus-chest ">
                                                                    <input type="checkbox" id="valhmg2Chest" name="valhmg2Chest">
                                                                    <label for="valhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valnmg1Chest" data-value="<%= valtan.normalValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[0] %></h4>
                                                                
                                                                <div id="valnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg1Chest" name="valnmg1Chest">
                                                                    <label for="valnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valnmg2Chest" data-value="<%= valtan.normalValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[1] %></h4>
                                                                
                                                                <div id="valnmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg2Chest" name="valnmg2Chest">
                                                                    <label for="valnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                    </div>         
                                                    
                                                    <div class="">
                                                        <h2 id="valtan-gold"></h2>
                                                    </div>
                                                </div>
                                                
                                                <!-- <p><%# valtan.hardValtan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else{ %>
                                            <div id="valtan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Valtan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valnmg1Chest" data-value="<%= valtan.normalValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[0] %></h4>
                                                                
                                                                <div id="valnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg1Chest" name="valnmg1Chest">
                                                                    <label for="valnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valnmg2Chest" data-value="<%= valtan.normalValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[1] %></h4>
                                                                
                                                                <div id="valnmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg2Chest" name="valnmg2Chest">
                                                                    <label for="valnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                    </div>         
                                                    
                                                    <div class="">
                                                        <h2 id="valtan-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# valtan.normalValtan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Vykas -->
                                    <div id="raid-select<%= i %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= vykas.normalVykas.itemLevel && vykas.hardVykas.itemLevel){ %>
                                            <div id="vykas" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Vykas</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vyhmg1Chest" data-value="<%= vykas.hardVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.hardVykas.gate[0] %></h4>

                                                                <div id="vyhmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vyhmg1Chest" name="vyhmg1Chest">
                                                                    <label for="vyhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vyhmg2Chest" data-value="<%= vykas.hardVykas.gold[1] %>" onclick="getVykasGold(this)">G<%= vykas.hardVykas.gate[1] %></h4>
                                                                
                                                                <div id="vyhmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vyhmg2Chest" name="vyhmg2Chest">
                                                                    <label for="vyhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vynmg1Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[0] %></h4>
                                                                
                                                                <div id="vynmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg1Chest" name="vynmg1Chest">
                                                                    <label for="vynmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vynmg2Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[1] %></h4>
                                                                
                                                                <div id="vynmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg2Chest" name="vynmg2Chest">
                                                                    <label for="vynmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="vykas-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# vykas.hardVykas.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else{ %>
                                            <div id="vykas" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Vykas</h1>
                                                </div>

                                                <button class="more">...</button>
                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vynmg1Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[0] %></h4>
                                                                
                                                                <div id="vynmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg1Chest" name="vynmg1Chest">
                                                                    <label for="vynmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vynmg2Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[1] %></h4>
                                                                
                                                                <div id="vynmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg2Chest" name="vynmg2Chest">
                                                                    <label for="vynmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="vykas-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# vykas.normalVykas.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>  

                                    <!-- Kakul Saydon -->
                                    <div id="raid-select<%= i %>" class="raid-card">   
                                        <% if(characters[i].itemLevel >= kakulSaydon.itemLevel){ %>
                                            <div id="kakulSaydon" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kakul-Saydon</h1>
                                                </div>

                                                <button class="more">...</button>
                                                

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= kakulSaydon.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= kakulSaydon.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= kakulSaydon.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# kakulSaydon.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Brelshaza -->
                                    <div id="raid-select<%= i %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[2]) { %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[3] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[3] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hmBrelGold %>g</p> -->

                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[1] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[2] ){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>
                                                
                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[3] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hm13nm4 %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[0] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[1]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[3] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hm12nm34 %>g</p> -->
                                            </div>
                                        <% } else if(characters[i].itemLevel >= brel.normalBrelshaza.itemLevel[2] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[0]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[3] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nmBrelGold %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.normalBrelshaza.itemLevel[1] && characters[i].itemLevel < brel.normalBrelshaza.itemLevel[2]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nm13 %>g</p> -->
                                            </div>
                                        <% } else{ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nm12 %>g</p> -->
                                            </div>
                                        <% } %>
                                        
                                    </div>

                                    <!-- Kayangel -->
                                    <div id="raid-select<%= i %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= kayangel.hardKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kayangel</h1>
                                                </div>

                                                <button class="more">...</button>
                                                
                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# kayangel.hardKayangel.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel < kayangel.hardKayangel.itemLevel && characters[i].itemLevel >= kayangel.normalKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kayangel</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# kayangel.normalKayangel.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Akkan -->
                                    <div id="raid-select<%= i %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= akkan.hardAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Akkan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# akkan.hardAkkan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel < akkan.hardAkkan.itemLevel && characters[i].itemLevel >= akkan.normalAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Akkan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[0] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[1] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <p class="gateNum " data-target="" data-value="<%= %>" onclick=""><%= brel.hardBrelshaza.gate[2] %></p>
                                                                
                                                                <div id="" class="bonus-chest">
                                                                    <input type="checkbox" id="" name="">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <p><%# akkan.normalAkkan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
            <!-- Total Gold -->
            <div class="total-gold">
                <h1>Total Gold Earned:</h1>

            </div>
    </div>
</div>

    <!-- Alt Roster Creation -->


<%- include("partials/footer") -%>