<%- include("partials/header") -%>
 <!-- <ul>
    <%# loaClass.forEach(element => { %>
        <li><%#- element %></li>
    <%# }); %>
 </ul> -->

 <div class="main-container">
    <!-- Main Roster Creation -->
    <div>
        <section>
                <div>
                    <form action="/dashboard/createCharacter" method="POST">
                        <label for="characterName">Character Name</label>
                        <input type="text" name="characterName" id="characterName" placeholder="Character Name">
                
                        <label for="loaClass">Class</label>
                        <select name="loaClass" id="loaClass">
                            <% loaClass.forEach(element => { %>
                                <option value="<%- element %>"><%- element %></option>
                            <% }); %>
                        </select>
                
                        <label for="itemLevel">Item Level</label>
                        <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">

                        <label for="roster">Roster</label>
                        <select name="roster" id="roster">
                            <option value="Main">Main</option>
                            <option value="Alt">Alt</option>
                        </select>
                
                        <button type="submit">Add</button>
                    </form>
                </div>

                <!-- roster information -->
                    <div>
                    <!-- character information -->
                        <% characters.forEach(element => { %>
                            <div class="container" id="gold-earner">
                                <div class="roster-info">
                                    <h3><%= element.characterName %></h3>
                                    <p><%= element.loaClass %></p>
                                    <p><%= element.itemLevel %></p>
                                </div>

                                <div class="raid">
                                      <!-- Raid information -->
                                    <!-- Valtan -->
                                    <div class="raid-card raid-select" >
                                        <% if(element.itemLevel >= valtan.normalValtan.itemLevel && valtan.hardValtan.itemLevel){ %>
                                            <div id="valtan" class="card">
                                                <h1>Hard Valtan</h1>
                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= valtan.hardValtan.gate[0] %></p>
                                                        <p><%= valtan.hardValtan.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= valtan.hardValtan.gate[1] %></p>
                                                        <p><%= valtan.hardValtan.gold[1] %>g</p>
                                                    </div>
                                                </div>
                                                
                                                <p><%= valtan.hardValtan.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% }else{ %>
                                            <div id="valtan">
                                                <h1>Normal Valtan</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= valtan.normalValtan.gate[0] %></p>
                                                        <p><%= valtan.normalValtan.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= valtan.normalValtan.gate[1] %></p>
                                                        <p><%= valtan.normalValtan.gold[1] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= valtan.normalValtan.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% } %>
                                    </div>
            
                                    <!-- Vykas -->
                                    <div class="raid-card raid-select">
                                        <% if(element.itemLevel >= vykas.normalVykas.itemLevel && vykas.hardVykas.itemLevel){ %>
                                            <div id="vykas" class="card">
                                                <h1>Hard Vykas</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= vykas.hardVykas.gate[0] %></p>
                                                        <p><%= vykas.hardVykas.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= vykas.hardVykas.gate[1] %></p>
                                                        <p><%= vykas.hardVykas.gold[1] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= vykas.hardVykas.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% }else{ %>
                                            <div id="vykas" class="card">
                                                <h1>Normal Vykas</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= vykas.normalVykas.gate[0] %></p>
                                                        <p><%= vykas.normalVykas.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= vykas.normalVykas.gate[1] %></p>
                                                        <p><%= vykas.normalVykas.gold[1] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= vykas.normalVykas.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% } %>
                                    </div>
            
                                    <!-- Kakul Saydon -->
                                    <div class="raid-card raid-select">   
                                        <% if(element.itemLevel >= kakulSaydon.itemLevel){ %>
                                            <div id="kakulSaydon" class="card">
                                                <h1>Normal Kakul-Saydon</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= kakulSaydon.gate[0] %></p>
                                                        <p><%= kakulSaydon.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= kakulSaydon.gate[1] %></p>
                                                        <p><%= kakulSaydon.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= kakulSaydon.gate[2] %></p>
                                                        <p><%= kakulSaydon.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= kakulSaydon.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% } %>
                                    </div>
            
                                    <!-- Brelshaza -->
                                    <div class="raid-card raid-select">
                                        <% if(element.itemLevel >= brel.hardBrelshaza.itemLevel[2]) { %>
                                            <div id="brelshaza" class="card">
                                                <h1>Hard Brelshaza 1-4</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.hardBrelshaza.gate[0] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.hardBrelshaza.gate[1] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.hardBrelshaza.gate[2] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[2] %>g</p>
                                                    </div>

                                                    <div class="gate4">
                                                        <p><%= brel.hardBrelshaza.gate[3] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[3] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.hmBrelGold %>g</p>

                                            </div>
                                        <% }else if(element.itemLevel >= brel.hardBrelshaza.itemLevel[1] && element.itemLevel < brel.hardBrelshaza.itemLevel[2] ){ %>
                                            <div id="brelshaza" class="card">
                                                <h1>Hard Brelshaza 1-3 <br> Normal Brelshaza 4</h1>
                                                
                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.hardBrelshaza.gate[0] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.hardBrelshaza.gate[1] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.hardBrelshaza.gate[2] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[2] %>g</p>
                                                    </div>

                                                    <div class="gate4">
                                                        <p><%= brel.normalBrelshaza.gate[3] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[3] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.hm13nm4 %>g</p>
                                            </div>
                                        <% }else if(element.itemLevel >= brel.hardBrelshaza.itemLevel[0] && element.itemLevel < brel.hardBrelshaza.itemLevel[1]){ %>
                                            <div id="brelshaza" class="card">
                                                <h1>Hard Brelshaza 1-2 <br> Normal Brelshaza 3-4</h1>
       
                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.hardBrelshaza.gate[0] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.hardBrelshaza.gate[1] %></p>
                                                        <p><%= brel.hardBrelshaza.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.normalBrelshaza.gate[2] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[2] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.normalBrelshaza.gate[3] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[3] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.hm12nm34 %>g</p>
                                            </div>
                                        <% } else if(element.itemLevel >= brel.normalBrelshaza.itemLevel[2] && element.itemLevel < brel.hardBrelshaza.itemLevel[0]){ %>
                                            <div id="brelshaza" class="card">
                                                <h1>Normal Brelshaza 1-4</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.normalBrelshaza.gate[0] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.normalBrelshaza.gate[1] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.normalBrelshaza.gate[2] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[2] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.normalBrelshaza.gate[3] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[3] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.nmBrelGold %>g</p>
                                            </div>
                                        <% }else if(element.itemLevel >= brel.normalBrelshaza.itemLevel[1] && element.itemLevel < brel.normalBrelshaza.itemLevel[2]){ %>
                                            <div id="brelshaza" class="card">
                                                <h1>Normal Brelshaza 1-3</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.normalBrelshaza.gate[0] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.normalBrelshaza.gate[1] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= brel.normalBrelshaza.gate[2] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.nm13 %>g</p>
                                            </div>g
                                        <% } else{ %>
                                            <div id="brelshaza" class="card">
                                                <h1>Normal Brelshaza 1-2</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= brel.normalBrelshaza.gate[0] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= brel.normalBrelshaza.gate[1] %></p>
                                                        <p><%= brel.normalBrelshaza.gold[1] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= brelGold.nm12 %>g</p>
                                            </div>
                                        <% } %>
                                        
                                    </div>
            
                                    <!-- Kayangel -->
                                    <div class="raid-card raid-select">
                                        <% if(element.itemLevel >= kayangel.hardKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <h1>Hard Kayangel</h1>
                                                
                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= kayangel.hardKayangel.gate[0] %></p>
                                                        <p><%= kayangel.hardKayangel.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= kayangel.hardKayangel.gate[1] %></p>
                                                        <p><%= kayangel.hardKayangel.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= kayangel.hardKayangel.gate[2] %></p>
                                                        <p><%= kayangel.hardKayangel.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= kayangel.hardKayangel.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% }else if(element.itemLevel < kayangel.hardKayangel.itemLevel && element.itemLevel >= kayangel.normalKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <h1>Normal Kayangel</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= kayangel.normalKayangel.gate[0] %></p>
                                                        <p><%= kayangel.normalKayangel.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= kayangel.normalKayangel.gate[1] %></p>
                                                        <p><%= kayangel.normalKayangel.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= kayangel.normalKayangel.gate[2] %></p>
                                                        <p><%= kayangel.normalKayangel.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= kayangel.normalKayangel.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% } %>
                                    </div>
            
                                    <!-- Akkan -->
                                    <div class="raid-card raid-select">
                                        <% if(element.itemLevel >= akkan.hardAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <h1>Hard Akkan</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= akkan.hardAkkan.gate[0] %></p>
                                                        <p><%= akkan.hardAkkan.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= akkan.hardAkkan.gate[1] %></p>
                                                        <p><%= akkan.hardAkkan.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= akkan.hardAkkan.gate[2] %></p>
                                                        <p><%= akkan.hardAkkan.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= akkan.hardAkkan.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% }else if(element.itemLevel < akkan.hardAkkan.itemLevel && element.itemLevel >= akkan.normalAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <h1>Normal Akkan</h1>

                                                <div class="raid-info">
                                                    <div class="gate1">
                                                        <p><%= akkan.normalAkkan.gate[0] %></p>
                                                        <p><%= akkan.normalAkkan.gold[0] %>g</p>
                                                    </div>
    
                                                    <div class="gate2">
                                                        <p><%= akkan.normalAkkan.gate[1] %></p>
                                                        <p><%= akkan.normalAkkan.gold[1] %>g</p>
                                                    </div>

                                                    <div class="gate3">
                                                        <p><%= akkan.normalAkkan.gate[2] %></p>
                                                        <p><%= akkan.normalAkkan.gold[2] %>g</p>
                                                    </div>
                                                </div>

                                                <p><%= akkan.normalAkkan.gold.reduce((a,b) => a + b) %>g</p>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
        </section>
    </div>

    <!-- Alt Roster Creation -->
</div>

<%- include("partials/footer") -%>