<%- include("partials/header") -%>
 <!-- <ul>
    <%# loaClass.forEach(element => { %>
        <li><%#- element %></li>
    <%# }); %>
 </ul> -->

 <div class="main-container">
    <!-- Main Roster Creation -->
    <div>
                <div>
                    <form action="/dashboard/createCharacter" method="POST">
                        <label for="characterName">Character Name</label>
                        <input type="text" name="characterName" id="characterName" placeholder="Character Name">
                
                        <label for="loaClass">Class</label>
                        <select name="loaClass" id="loaClass">
                            <% loaClass.forEach(element => { %>
                                <option value="<%- element %>"><%- element %></option>
                            <% }); %>
                        </select>
                
                        <label for="itemLevel">Item Level</label>
                        <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">

                        <label for="roster">Roster</label>
                        <select name="roster" id="roster">
                            <option value="Main">Main</option>
                            <option value="Alt">Alt</option>
                        </select>
                
                        <button type="submit">Add</button>
                    </form>
                </div>

                <!-- roster information -->
                    <div class="dashboard">
                        <% for(let i = 0; i < characters.length; i++){ %>
                            <div class="container" id="char<%= characters[i]._id %>">
                                <div class="roster-info">
                                    <h3 class="ros"><%= characters[i].characterName %></h3>
                                    <p class="ros"><%= characters[i].loaClass %></p>
                                    <div class="row">
                                        <p><%= characters[i].itemLevel %></p>
                                        <button onclick="modalHandler('<%= characters[i]._id %>', true)">Edit</button>
                                    </div>

                                    <div id="modal-<%= characters[i]._id %>" class="modal">
                                        <div class="modal-container">
                                            <form class="modal-form" action="/dashboard/editItemLevel/<%= characters[i]._id %>?_method=PUT" method="POST">
                                    
                                                <label for="itemLevel">Item Level</label>
                                                <input type="text" name="itemLevel" id="itemLevel" placeholder="Item Level">                     
                                        
                                                <button type="submit">Save</button>
                                            </form>

                                            <button onclick="modalHandler('<%= characters[i]._id %>')">Close</button>
                                        </div>
                                    </div>
                                    
                                    <form action="/dashboard/deleteCharacter/<%= characters[i]._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            

                                <div class="raidList">
                                     <!-- Valtan -->
                                    <div id="valtan-select-<%= characters[i]._id %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= valtan.normalValtan.itemLevel && valtan.hardValtan.itemLevel){ %>
                                            <div id="valtan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Valtan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info more-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valtanhmg1Chest" data-value="<%= valtan.hardValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.hardValtan.gate[0] %></h4>
                                                                
                                                                <div id="valtanhmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valhmg1Chest" name="valhmg1Chest" data-value="<%= valtan.hardValtan.chest[0] %>">
                                                                    <label for="valhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valtanhmg2Chest" data-value="<%= valtan.hardValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.hardValtan.gate[1] %></h4>
                                                                
                                                                <div id="valtanhmg2Chest" class="bonus-chest ">
                                                                    <input type="checkbox" id="valhmg2Chest" name="valhmg2Chest" data-value="<%= valtan.hardValtan.chest[1] %>">
                                                                    <label for="valhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valtannmg1Chest" data-value="<%= valtan.normalValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[0] %></h4>
                                                                
                                                                <div id="valtannmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg1Chest" name="valnmg1Chest" data-value="<%= valtan.normalValtan.chest[0] %>">
                                                                    <label for="valnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valtannmg2Chest" data-value="<%= valtan.normalValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[1] %></h4>
                                                                
                                                                <div id="valtannmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg2Chest" name="valnmg2Chest" data-value="<%= valtan.normalValtan.chest[1] %>">
                                                                    <label for="valnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                    </div>         
                                                    
                                                    <div class="">
                                                        <h2 id="valtan-gold"></h2>
                                                    </div>
                                                </div>
                                                
                                                <!-- <p><%# valtan.hardValtan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else{ %>
                                            <div id="valtan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Valtan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum valGate" data-target="valtannmg1Chest" data-value="<%= valtan.normalValtan.gold[0] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[0] %></h4>
                                                                
                                                                <div id="valtannmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg1Chest" name="valnmg1Chest" data-value="<%= valtan.normalValtan.chest[0] %>">
                                                                    <label for="valnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum valGate" data-target="valtannmg2Chest" data-value="<%= valtan.normalValtan.gold[1] %>" onclick="getValtanGold(this)">G<%= valtan.normalValtan.gate[1] %></h4>
                                                                
                                                                <div id="valtannmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="valnmg2Chest" name="valnmg2Chest" data-value="<%= valtan.normalValtan.chest[1] %>">
                                                                    <label for="valnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                    </div>         
                                                    
                                                    <div class="">
                                                        <h2 id="valtan-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# valtan.normalValtan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Vykas -->
                                    <div id="vykas-select-<%= characters[i]._id %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= vykas.normalVykas.itemLevel && vykas.hardVykas.itemLevel){ %>
                                            <div id="vykas" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Vykas</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vykashmg1Chest" data-value="<%= vykas.hardVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.hardVykas.gate[0] %></h4>

                                                                <div id="vykashmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vyhmg1Chest" name="vyhmg1Chest" data-value="<%= vykas.hardVykas.chest[0] %>">
                                                                    <label for="vyhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vykashmg2Chest" data-value="<%= vykas.hardVykas.gold[1] %>" onclick="getVykasGold(this)">G<%= vykas.hardVykas.gate[1] %></h4>
                                                                
                                                                <div id="vykashmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vyhmg2Chest" name="vyhmg2Chest" data-value="<%= vykas.hardVykas.chest[1] %>">
                                                                    <label for="vyhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vykasnmg1Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[0] %></h4>
                                                                
                                                                <div id="vykasnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg1Chest" name="vynmg1Chest" data-value="<%= vykas.normalVykas.chest[0] %>">
                                                                    <label for="vynmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vykasnmg2Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[1] %></h4>
                                                                
                                                                <div id="vykasnmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg2Chest" name="vynmg2Chest" data-value="<%= vykas.normalVykas.chest[1] %>">
                                                                    <label for="vynmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="vykas-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# vykas.hardVykas.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else{ %>
                                            <div id="vykas" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Vykas</h1>
                                                </div>

                                                <button class="more">...</button>
                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum vyGate" data-target="vykasnmg1Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[0] %></h4>
                                                                
                                                                <div id="vykasnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg1Chest" name="vynmg1Chest" data-value="<%= vykas.normalVykas.chest[0] %>">
                                                                    <label for="vyaksnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum vyGate" data-target="vykasnmg2Chest" data-value="<%= vykas.normalVykas.gold[0] %>" onclick="getVykasGold(this)">G<%= vykas.normalVykas.gate[1] %></h4>
                                                                
                                                                <div id="vykasnmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="vynmg2Chest" name="vynmg2Chest" data-value="<%= vykas.normalVykas.chest[1] %>">
                                                                    <label for="vynmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="vykas-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# vykas.normalVykas.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>  

                                    <!-- Kakul Saydon -->
                                    <div id="kakulSaydon-select-<%= characters[i]._id %>" class="raid-card">   
                                        <% if(characters[i].itemLevel >= kakulSaydon.itemLevel){ %>
                                            <div id="kakulSaydon" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kakul-Saydon</h1>
                                                </div>

                                                <button class="more">...</button>
                                                

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum clownGate" data-target="clownnmg1Chest" data-value="<%= kakulSaydon.gold[0] %>" onclick="getClownGold(this)">G<%= kakulSaydon.gate[0] %></h4>
                                                                
                                                                <div id="clownnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="ksnmg1Chest" name="ksnmg1Chest" data-value="<%= kakulSaydon.chest[0] %>">
                                                                    <label for="ksnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum clownGate" data-target="clownnmg2Chest" data-value="<%= kakulSaydon.gold[1] %>" onclick="getClownGold(this)">G<%= kakulSaydon.gate[1] %></h4>
                                                                
                                                                <div id="clownnmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="ksnmg2Chest" name="ksnmg2Chest" data-value="<%= kakulSaydon.chest[1] %>">
                                                                    <label for="ksnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum clownGate" data-target="clownnmg3Chest" data-value="<%= kakulSaydon.gold[2] %>" onclick="getClownGold(this)">G<%= kakulSaydon.gate[2] %></h4>
                                                                
                                                                <div id="clownnmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="ksnmg3Chest" name="ksnmg3Chest" data-value="<%= kakulSaydon.chest[2] %>">
                                                                    <label for="">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="clown-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# kakulSaydon.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Brelshaza -->
                                    <div id="brelshaza-select-<%= characters[i]._id %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[2]) { %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h2 class="difficulty">Hard</h2>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg1Chest" data-value="<%= brel.hardBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazahmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg1Chest" name="brelhmg1Chest" data-value="<%= brel.hardBrelshaza.chest[0] %>">
                                                                    <label for="brelhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg2Chest" data-value="<%= brel.hardBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazahmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg2Chest" name="brelhmg2Chest" data-value="<%= brel.hardBrelshaza.chest[1] %>">
                                                                    <label for="brelhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg3Chest" data-value="<%= brel.hardBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[2] %></h4>
                                                            
                                                                <div id="brelshazahmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg3Chest" name="brelhmg3Chest" data-value="<%= brel.hardBrelshaza.chest[2] %>">
                                                                    <label for="brelhmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg4Chest" data-value="<%= brel.hardBrelshaza.gold[3] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[3] %></h4>
                                                                
                                                                <div id="brelshazahmg4Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg4Chest" name="brelhmg4Chest" data-value="<%= brel.hardBrelshaza.chest[3] %>">
                                                                    <label for="brelhmg4Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg3Chest" data-value="<%= brel.normalBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[2] %></h4>
                                                                
                                                                <div id="brelshazanmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg3Chest" name="brelnmg3Chest" data-value="<%= brel.normalBrelshaza.chest[2] %>">
                                                                    <label for="brelnmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg4Chest" data-value="<%= brel.normalBrelshaza.gold[3] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[3] %></h4>
                                                                
                                                                <div id="brelshazanmg4Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg4Chest" name="brelnmg4Chest" data-value="<%= brel.normalBrelshaza.chest[3] %>">
                                                                    <label for="brelnmg4Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hmBrelGold %>g</p> -->

                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[1] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[2] ){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>
                                                
                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg1Chest" data-value="<%= brel.hardBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazahmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg1Chest" name="brelhmg1Chest" data-value="<%= brel.hardBrelshaza.chest[0] %>">
                                                                    <label for="brelhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg2Chest" data-value="<%= brel.hardBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazahmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg2Chest" name="brelhmg2Chest" data-value="<%= brel.hardBrelshaza.chest[1] %>">
                                                                    <label for="brelhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg3Chest" data-value="<%= brel.hardBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[2] %></h4>
                                                            
                                                                <div id="brelshazahmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg3Chest" name="brelhmg3Chest" data-value="<%= brel.hardBrelshaza.chest[2] %>">
                                                                    <label for="brelhmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg3Chest" data-value="<%= brel.normalBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[2] %></h4>
                                                                
                                                                <div id="brelshazanmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg3Chest" name="brelnmg3Chest" data-value="<%= brel.normalBrelshaza.chest[2] %>">
                                                                    <label for="brelnmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg4Chest" data-value="<%= brel.normalBrelshaza.gold[3] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[3] %></h4>
                                                                
                                                                <div id="brelshazanmg4Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg4Chest" name="brelnmg4Chest" data-value="<%= brel.normalBrelshaza.chest[3] %>">
                                                                    <label for="brelnmg4Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hm13nm4 %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.hardBrelshaza.itemLevel[0] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[1]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>

                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg1Chest" data-value="<%= brel.hardBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazahmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg1Chest" name="brelhmg1Chest" data-value="<%= brel.hardBrelshaza.chest[0] %>">
                                                                    <label for="brelhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazahmg2Chest" data-value="<%= brel.hardBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.hardBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazahmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelhmg2Chest" name="brelhmg2Chest" data-value="<%= brel.hardBrelshaza.chest[1] %>">
                                                                    <label for="brelhmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg3Chest" data-value="<%= brel.normalBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[2] %></h4>
                                                                
                                                                <div id="brelshazanmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg3Chest" name="brelnmg3Chest" data-value="<%= brel.normalBrelshaza.chest[2] %>">
                                                                    <label for="brelnmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg4Chest" data-value="<%= brel.normalBrelshaza.gold[3] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[3] %></h4>
                                                                
                                                                <div id="brelshazanmg4Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg4Chest" name="brelnmg4Chest" data-value="<%= brel.normalBrelshaza.chest[3] %>">
                                                                    <label for="brelnmg4Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.hm12nm34 %>g</p> -->
                                            </div>
                                        <% } else if(characters[i].itemLevel >= brel.normalBrelshaza.itemLevel[2] && characters[i].itemLevel < brel.hardBrelshaza.itemLevel[0]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg3Chest" data-value="<%= brel.normalBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[2] %></h4>
                                                                
                                                                <div id="brelshazanmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg3Chest" name="brelnmg3Chest" data-value="<%= brel.normalBrelshaza.chest[2] %>">
                                                                    <label for="brelnmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate4">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg4Chest" data-value="<%= brel.normalBrelshaza.gold[3] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[3] %></h4>
                                                                
                                                                <div id="brelshazanmg4Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg4Chest" name="brelnmg4Chest" data-value="<%= brel.normalBrelshaza.chest[3] %>">
                                                                    <label for="brelnmg4Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nmBrelGold %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel >= brel.normalBrelshaza.itemLevel[1] && characters[i].itemLevel < brel.normalBrelshaza.itemLevel[2]){ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg3Chest" data-value="<%= brel.normalBrelshaza.gold[2] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[2] %></h4>
                                                                
                                                                <div id="brelshazanmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg3Chest" name="brelnmg3Chest" data-value="<%= brel.normalBrelshaza.chest[2] %>">
                                                                    <label for="brelnmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nm13 %>g</p> -->
                                            </div>
                                        <% } else{ %>
                                            <div id="brelshaza" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Brelshaza</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg1Chest" data-value="<%= brel.normalBrelshaza.gold[0] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[0] %></h4>
                                                                
                                                                <div id="brelshazanmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg1Chest" name="brelnmg1Chest" data-value="<%= brel.normalBrelshaza.chest[0] %>">
                                                                    <label for="brelnmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum brelGate" data-target="brelshazanmg2Chest" data-value="<%= brel.normalBrelshaza.gold[1] %>" onclick="getBrelGold(this)"><%= brel.normalBrelshaza.gate[1] %></h4>
                                                                
                                                                <div id="brelshazanmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="brelnmg2Chest" name="brelnmg2Chest" data-value="<%= brel.normalBrelshaza.chest[1] %>">
                                                                    <label for="brelnmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="brel-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# brelGold.nm12 %>g</p> -->
                                            </div>
                                        <% } %>
                                        
                                    </div>

                                    <!-- Kayangel -->
                                    <div id="kayangel-select-<%= characters[i]._id %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= kayangel.hardKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kayangel</h1>
                                                </div>

                                                <button class="more">...</button>
                                                
                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelhmg1Chest" data-value="<%= kayangel.hardKayangel.gold[0] %>" onclick="getKayangelGold(this)"><%= kayangel.hardKayangel.gate[0] %></h4>
                                                                
                                                                <div id="kayangelhmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayahmg1Chest" name="kayahmg1Chest" data-value="<%= kayangel.hardKayangel.chest[0] %>">
                                                                    <label for="kayahmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelhmg2Chest" data-value="<%= kayangel.hardKayangel.gold[1] %>" onclick="getKayangelGold(this)"><%= kayangel.hardKayangel.gate[1] %></h4>
                                                                
                                                                <div id="kayangelhmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayahmg2Chest" name="kayahmg2Chest" data-value="<%= kayangel.hardKayangel.chest[1] %>">
                                                                    <label for="kayahmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelhmg3Chest" data-value="<%= kayangel.hardKayangel.gold[2] %>" onclick="getKayangelGold(this)"><%= kayangel.hardKayangel.gate[2] %></h4>
                                                                
                                                                <div id="kayangelhmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayahmg3Chest" name="kayahmg3Chest" data-value="<%= kayangel.hardKayangel.chest[2] %>">
                                                                    <label for="kayahmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelnmg1Chest" data-value="<%= kayangel.normalKayangel.gold[0] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[0] %></h4>
                                                                
                                                                <div id="kayangelnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg1Chest" name="kayanmg1Chest" data-value="<%= kayangel.normalKayangel.chest[0] %>">
                                                                    <label for="kayanmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelmg2Chest" data-value="<%= kayangel.normalKayangel.gold[1] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[1] %></h4>
                                                                
                                                                <div id="kayanngelmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg2Chest" name="kayanmg2Chest" data-value="<%= kayangel.normalKayangel.chest[1] %>">
                                                                    <label for="kayanmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelmg3Chest" data-value="<%= kayangel.normalKayangel.gold[2] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[2] %></h4>
                                                                
                                                                <div id="kayangelmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg3Chest" name="kayanmg3Chest" data-value="<%= kayangel.normalKayangel.chest[2] %>">
                                                                    <label for="kayanmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="kaya-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# kayangel.hardKayangel.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel < kayangel.hardKayangel.itemLevel && characters[i].itemLevel >= kayangel.normalKayangel.itemLevel){ %>
                                            <div id="kayangel" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Kayangel</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelnmg1Chest" data-value="<%= kayangel.normalKayangel.gold[0] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[0] %></h4>
                                                                
                                                                <div id="kayangelnmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg1Chest" name="kayanmg1Chest" data-value="<%= kayangel.normalKayangel.chest[0] %>">
                                                                    <label for="kayanmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelmg2Chest" data-value="<%= kayangel.normalKayangel.gold[1] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[1] %></h4>
                                                                
                                                                <div id="kayangelmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg2Chest" name="kayanmg2Chest" data-value="<%= kayangel.normalKayangel.chest[1] %>">
                                                                    <label for="kayanmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum kayaGate" data-target="kayangelmg3Chest" data-value="<%= kayangel.normalKayangel.gold[2] %>" onclick="getKayangelGold(this)"><%= kayangel.normalKayangel.gate[2] %></h4>
                                                                
                                                                <div id="kayangelmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="kayanmg3Chest" name="kayanmg3Chest" data-value="<%= kayangel.normalKayangel.chest[2] %>">
                                                                    <label for="kayanmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="kaya-gold"></h2>
                                                    </div>
    
                                                </div>
                                                <!-- <p><%# kayangel.normalKayangel.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Akkan -->
                                    <div id="akkan-select-<%= characters[i]._id %>" class="raid-card">
                                        <% if(characters[i].itemLevel >= akkan.hardAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Akkan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="hm">
                                                        <h1 class="difficulty">Hard</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum akkanGate" data-target="akkanhmg1Chest" data-value="<%= akkan.hardAkkan.gold[0] %>" onclick="getAkkanGold(this)"><%= akkan.hardAkkan.gate[0] %></h4>
                                                                
                                                                <div id="akkanhmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="akhmg1Chest" name="akhmg1Chest" data-value="<%= akkan.hardAkkan.chest[0] %>">
                                                                    <label for="akhmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum akkanGate" data-target="akkanhmg2Chest" data-value="<%= akkan.hardAkkan.gold[1] %>" onclick="getAkkanGold(this)"><%= akkan.hardAkkan.gate[1] %></h4>
                                                                
                                                                <div id="akkanhmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="akhmg2Chest" name="akhmg2Chest" data-value="<%= akkan.hardAkkan.chest[1] %>">
                                                                    <label for="akhmg2Chestt">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum akkanGate" data-target="akkanhmg3Chest" data-value="<%= akkan.hardAkkan.gold[2] %>" onclick="getAkkanGold(this)"><%= akkan.hardAkkan.gate[2] %></h4>
                                                                
                                                                <div id="akkanhmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="akhmg3Chest" name="akhmg3Chest" data-value="<%= akkan.hardAkkan.chest[2] %>">
                                                                    <label for="akhmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="nm">
                                                        <h1 class="difficulty">Normal</h1>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg1Chest" data-value="<%= akkan.normalAkkan.gold[0] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[0] %></h4>
                                                                
                                                                <div id="akkannmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg1Chest" name="aknmg1Chest" data-value="<%= akkan.normalAkkan.chest[0] %>">
                                                                    <label for="aknmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg2Chest" data-value="<%= akkan.normalAkkan.gold[1] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[1] %></h4>
                                                                
                                                                <div id="akkannmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg2Chest" name="aknmg2Chest" data-value="<%= akkan.normalAkkan.chest[1] %>">
                                                                    <label for="aknmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg3Chest" data-value="<%= akkan.normalAkkan.gold[2] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[2] %></h4>
                                                                
                                                                <div id="akkannmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg3Chest" name="aknmg3Chest" data-value="<%= akkan.normalAkkan.chest[2] %>">
                                                                    <label for="aknmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="akkan-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# akkan.hardAkkan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else if(characters[i].itemLevel < akkan.hardAkkan.itemLevel && characters[i].itemLevel >= akkan.normalAkkan.itemLevel){ %>
                                            <div id="akkan" class="card">
                                                <div class="raid-title">
                                                    <h1 class="title">Akkan</h1>
                                                </div>

                                                <button class="more">...</button>

                                                <div class="raid-info">
                                                    <div class="nm">
                                                        <h2 class="difficulty">Normal</h2>
                                                        
                                                        <div class="flex-row">
                                                            <div class="gate1">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg1Chest" data-value="<%= akkan.normalAkkan.gold[0] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[0] %></h4>
                                                                
                                                                <div id="akkannmg1Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg1Chest" name="aknmg1Chest" data-value="<%= akkan.normalAkkan.chest[0] %>">
                                                                    <label for="aknmg1Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate2">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg2Chest" data-value="<%= akkan.normalAkkan.gold[1] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[1] %></h4>
                                                                
                                                                <div id="akkannmg2Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg2Chest" name="aknmg2Chest" data-value="<%= akkan.normalAkkan.chest[1] %>">
                                                                    <label for="aknmg2Chest">Chest</label>
                                                                </div>
                                                            </div>
        
                                                            <div class="gate3">
                                                                <h4 class="gateNum akkanGate" data-target="akkannmg3Chest" data-value="<%= akkan.normalAkkan.gold[2] %>" onclick="getAkkanGold(this)"><%= akkan.normalAkkan.gate[2] %></h4>
                                                                
                                                                <div id="akkannmg3Chest" class="bonus-chest">
                                                                    <input type="checkbox" id="aknmg3Chest" name="aknmg3Chest" data-value="<%= akkan.normalAkkan.chest[2] %>">
                                                                    <label for="aknmg3Chest">Chest</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <h2 id="akkan-gold"></h2>
                                                    </div>
                                                </div>

                                                <!-- <p><%# akkan.normalAkkan.gold.reduce((a,b) => a + b) %>g</p> -->
                                            </div>
                                        <% }else{ %>
                                            <div id="akkan" class="card">

                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
            <!-- Total Gold -->
            <div class="total-gold">
                <h1>Total Gold Earned:</h1><h1 id="rosterGold"></h1>
            </div>
    </div>
</div>

    <!-- Alt Roster Creation -->


<%- include("partials/footer") -%>