<%- include('partials/header') -%>

<body class="container">
    <div>
        <!-- Navbar -->
        <div class="navbar-container hidden">
            <nav class="navbar">
                <ul>
                    <li>
                        <h2>Roster</h2>
                    </li>
                    <li>
                        <h2>Engravings</h2>
                    </li>
                    <li>
                        <h2>Tools</h2>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="dashboard-container">
            <div>
                <h1>Legion Raid Gold</h1>
            </div>

            <div  class="" id="account">
                    <!-- character data creation -->
                <div>
                    <form action="/dashboard/createCharacterData" enctype="multipart/form-data" method="POST">
                        <!-- character name -->
                        <div>
                            <label for="charactername" class="">Character Name</label>
                            <input type="text" name="charactername" id="charactername" class="" placeholder="Character Name">
                        </div>

                        <!-- character class -->
                        <div>
                            <ul class="hidden">
                                <li>Berserk</li>
                                <li>Gunlancer</li>
                                <li>Paladin</li>
                                <li>Destroyer</li>
                                <li>Slayer</li>
                                <li>Sorceress</li>
                                <li>Bard</li>
                                <li>Arcana</li>
                                <li>Summoner</li>
                                <li>Wardancer</li>
                                <li>Scrapper</li>
                                <li>Soulfist</li>
                                <li>Glaiver</li>
                                <li>Striker</li>
                                <li>Sharpshooter</li>
                                <li>Deadeye</li>
                                <li>Artillerist</li>
                                <li>Machinist</li>
                                <li>Gunslinger</li>
                                <li>Deathblade</li>
                                <li>Shadowhunter</li>
                                <li>Reaper</li>
                                <li>Artist</li>
                            </ul>
                            <label for="characterclass" class="">Class</label>
                            <input type="text" name="characterclass" id="characterclass" class="" placeholder="Class">
                        </div>

                        <!-- item level -->
                        <div>
                            <label for="characterilvl" class="">Item Level</label>
                            <input type="text" name="characterilvl" id="characterilvl" class="" placeholder="Item Level">
                        </div>
                        
                        <button type="submit" class="" value="Upload">Add</button>
                    </form>
                </div>

                <!-- character roster view -->
                <div class="roster-container">
                    <!-- roster character view -->
                    <div>  
                        <div class="">
                            <table class="">

                                <% characterData.forEach(element => { %>
                                        <tbody>
                                            <tr tabindex="0" class="">
                                                <td class="">
                                                    <div class="">
                                                        <p class=""><%=element.characterName%></p>
                                                        <br>
                                                        <p class=""><%=element.characterClass%></p>
                                                        <br>
                                                        <p class=""><%=element.itemLevel %></p>
                                                    </div>
                                                </td>
                                                <!-- Argos -->
                                                <% const argosGate = [1,2,3] %>
                                                <% let argos = 1385, argosGold = [300,300,400], argosBonusChest = [100,150,150] %>
                                                <% if(element.itemLevel >= argos){ %>
                                                <td class="raid-card" id="argos">
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                                <% } %>

                                                <!-- Valtan -->
                                                <% const valtanGate = [1,2] %>
                                                <% let valtanNormal = 1415, valtanNormalGold = [500,700], valtanNormalBonusChest = [300,400] %>
                                                <% let valtanHard = 1445, valtanHardGold = [700,2300], valtanHardBonusChest = [600,900], valtanGate %>
                                                <% if(element.itemLevel >= valtanNormal || element.itemLevel >= valtanHard){ %>
                                                    <td class="raid-card" id="valtannm valtanhm">
                                                    <!-- Valtan -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                                <% } %>

                                                <!-- Vykas -->
                                                <% const vykasGate = [1,2,3]  %>
                                                <% let vykasNormal = 1430, vykasNormalGold = [400,500,700], vykasNormalBonusChest = [200,250,400]%>
                                                <% let vykasHard = 1460, vykasHardGold = [1000,1000,2500], vykasHardBonusChest = [700,900,1200]%>
                                                <% if(element.itemLevel >= vykasNormal || element.itemLevel >= vykasHard){ %>
                                                <td class="raid-card" id="vykasnm vykashm">
                                                    <!-- Vykas -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                                <% } %>

                                                <!-- Kakul-Saydon -->
                                                <% const kakulSaydonGate = [1,2,3] %>
                                                <% let kakulSaydon = 1475, kakulSaydonGold = [1000,1000,2500], kakulSaydonBonusChest = [800,1000,1300] %>
                                                <% if(element.itemLevel >= kakulSaydon){ %>
                                                    <td class="raid-card" id="kakul-saydon">
                                                        <div class="">
                                                            <img src="" alt="">
                                                        </div>
                                                    </td>
                                                <% } %>
                                                
                                                <!-- Brelshaza -->
                                                <td class="raid-card" id="brelshazanm brelshazahm">
                                                    <% const brelshazaGate = [1,2,3,4,5,6] %>
                                                    <% let brelshazaNormal = [1490,1500,1520], brelshazaNormalGold = [2000,2500,700,800,1000,1500], brelshazaNormalChest = [400,600,700,800,900,1100] %>
                                                    <% let brelshazaHard = [1540,1550,1560], brelshazaHardGold = [2500,3000,900,1100,1200,1800], brelshazaHardChest = [700,800,900,1100,1100,1400]%>
                                                    <!-- Brelshaza normal -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>

                                                    <!-- Brelshaza hard -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                                <!-- Kayangel -->
                                                <td class="raid-card" id="kayangelnm kayangelhm">
                                                    <% const kayangelGate = [1,2,3,4]  %>
                                                    <% let kayangelNormal = 1540, kayangelNormalGold = [800,800,1200,1700] %>
                                                    <% let kayangelHard = 1580, kayangelHardGold = [1000,1000,1500,2000] %>
                                                    <!-- Kayangel normal -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>

                                                    <!-- Kayangel hard -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                                <!-- Akkan -->
                                                <td class="raid-card hidden" id="akkannm akkanhm">
                                                    <% const akkanGate = [1,2,3] %>
                                                    <% let akkanNormal = 1580, akkanNormalGold = [1500,1750,2250], akkanNormalChest = [900,1100,1500] %>
                                                    <% let akkanHard = 1600, akkanHardGold = [1750,2000,2750], akkanHardChest = [1200,1400,1900] %>
                                                    <!-- Akkan normal -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                    
                                                    <!-- Akkan hard -->
                                                    <div class="">
                                                        <img src="" alt="">
                                                    </div>
                                                </td>
                                            </tr>

                                            <!-- character deletion -->
                                            <div class="">
                                                <form action="/dashboard/deleteCharacterData/<%= element._id %>?_method=DELETE" method="POST">
                                                    <button class="" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </tbody>
                               <% }) %>
                            </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- total gold earned/total earnable gold -->
        <div class="">
                    
        </div>
    </div>
</body>

<%- includ('partials/footer') -%>